:root {
    /*---------- BASE ----------*/
    --viewport-basis: 1680;

    /*---------- COLOR ----------*/
    --accent-color: #00ff7e;

    /*---------- TEXT ----------*/
    --fluid-text-size-1: calc(14 / var(--viewport-basis) * 100vw);
    --fluid-text-size-2: calc(16 / var(--viewport-basis) * 100vw);
    --fluid-text-size-3: calc(18 / var(--viewport-basis) * 100vw);
    --fluid-text-size-4: calc(24 / var(--viewport-basis) * 100vw);
    --fluid-text-size-5: calc(30 / var(--viewport-basis) * 100vw);
    --fluid-text-size-6: calc(48 / var(--viewport-basis) * 100vw);
    --fluid-text-size-7: calc(64 / var(--viewport-basis) * 100vw);
    --fluid-text-size-8: calc(80 / var(--viewport-basis) * 100vw);
    --fluid-text-size-9: calc(100 / var(--viewport-basis) * 100vw);
    --fluid-title-size: 10vw;

    --fixed-text-size-blog: 24px;
    --fixed-text-size-1: 14px;
    --fixed-text-size-2: 16px;
    --fixed-text-size-3: 18px;
    --fixed-text-size-4: 24px;
    --fixed-text-size-5: 30px;
    --fixed-text-size-6: 48px;
    --fixed-text-size-7: 64px;
    --fixed-text-size-8: 100px;
    --fixed-text-size-9: 164px;

    --font-sans: 'Inter', -apple-system, system-ui, BlinkMacSystemFont, "Helvetica", "Arial", sans-serif;
    --font-serif: 'Cormorant Garamond', serif;
    --font-title: var(--font-sans);
    --font-text: var(--font-sans);

    --text-font-weight: 400;
    --title-font-weight: 500;

    /*---------- SPACING ----------*/
    --container-padding: 0 calc(0.0333333 * 100vw);

    --spacing-0: calc(4 / var(--viewport-basis) * 100vw);
    --spacing-1: calc(8 / var(--viewport-basis) * 100vw);
    --spacing-2: calc(16 / var(--viewport-basis) * 100vw);
    --spacing-3: calc(24 / var(--viewport-basis) * 100vw);
    --spacing-4: calc(32 / var(--viewport-basis) * 100vw);
    --spacing-5: calc(40 / var(--viewport-basis) * 100vw);
    --spacing-6: calc(60 / var(--viewport-basis) * 100vw);
    --spacing-7: calc(80 / var(--viewport-basis) * 100vw);
    --spacing-8: calc(160 / var(--viewport-basis) * 100vw);
    --spacing-9: calc(240 / var(--viewport-basis) * 100vw);

    /*---------- BORDER ----------*/
    --border-radius: 0;
    --border-width: 1px;
}
@media screen and (max-width: 768px) {
    :root {
        --viewport-basis: 768;
    }
}
@media screen and (max-width: 1024px) {
    :root {
        --fixed-text-size-blog: 22px;
        --fixed-text-size-1: 12px;
        --fixed-text-size-2: 14px;
        --fixed-text-size-3: 16px;
        --fixed-text-size-4: 18px;
        --fixed-text-size-5: 20px;
        --fixed-text-size-6: 24px;
        --fixed-text-size-7: 32px;
        --fixed-text-size-8: 56px;
        --fixed-text-size-9: 72px;
    }
}
@media screen and (max-width: 1366px) {
    :root {
        --fixed-text-size-blog: 26px;
        --fixed-text-size-1: 12px;
        --fixed-text-size-2: 14px;
        --fixed-text-size-3: 16px;
        --fixed-text-size-4: 20px;
        --fixed-text-size-5: 24px;
        --fixed-text-size-6: 30px;
        --fixed-text-size-7: 48px;
        --fixed-text-size-8: 72px;
        --fixed-text-size-9: 100px;
    }
}
@media screen and (max-width: 1680px) {
    :root {
        --viewport-basis: 768;
    }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0px;
    font: inherit;
    color: inherit;
    vertical-align: baseline;
}
*, ::after, ::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    overflow: hidden;
    height: 100%;

    font-family: var(--font-text);
    font-weight: var(--text-font-weight);
    font-size: var(--fixed-text-size-5);
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
}

[dark] {
    --color-1: #FFFFFF;
    --color-2: #e2e2e2;
    --color-3: #c6c6c6;
    --color-4: #aaa;
    --color-5: #8d8d8d;
    --color-6: #717171;
    --color-7: #555;
    --color-8: #383838;
    --color-9: #1c1c1c;
    --bg-color: #000000;
    --border-color: var(--color-8);

    color: var(--color-1);
    background-color: var(--bg-color);
}
[light] {
    --color-1: #000000;
    --color-2: #1c1c1c;
    --color-3: #383838;
    --color-4: #555;
    --color-5: #717171;
    --color-6: #8d8d8d;
    --color-7: #aaa;
    --color-8: #c6c6c6;
    --color-9: #e2e2e2;
    --bg-color: #FFFFFF;
    --border-color: var(--color-7);

    color: var(--color-1);
    background-color: var(--bg-color);
}
[accent] {
    --color-1: #000000;
    --color-2: #1c1c1c;
    --color-3: #383838;
    --color-4: #555;
    --color-5: #717171;
    --color-6: #8d8d8d;
    --color-7: #aaa;
    --color-8: #c6c6c6;
    --color-9: #e2e2e2;
    --bg-color: var(--accent-color);
    --border-color: var(--color-7);

    color: var(--color-1);
    background-color: var(--bg-color);
}

/*
| ----- LAYOUT
*/
[parallax] {
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-perspective: 1px;
    perspective: 1px;
}
[parallax] [parallax-base] {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
[parallax] [parallax-back] {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
}

nav, section, header, footer, .container {
    padding: var(--container-padding);
}
.without-container {
    padding: 0;
}

main, nav, section, header, footer {
    width: 100%;
}

header.fullscreen, section.fullscreen {
    height: 100vh;
}
header.min-fullscreen, section.min-fullscreen {
    min-height: 100vh;
}
header.max-fullscreen, section.max-fullscreen {
    max-height: 100vh;
}

/*
| ----- BLOG
*/
.blog-text-container, .blog-quote-container, .blog-title-container, .blog-image-container, .blog-2images-container, .blog-3images-container, .blog-4images-container, .blog-cta-container {
    -webkit-box-align: baseline;
    align-items: baseline;

    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
    grid-column-gap: calc(12 / 1680 * 100vw);
    grid-row-gap: calc(12 / 1680 * 100vw);

    margin: 0;
    padding: 0 calc(0.0333333 * 100vw);
}

.blog-text-container {
    grid-template-areas: ". . a a a a a a . b b .";
    margin-bottom: var(--spacing-4);
}
.blog-text-container > p, .blog-text-container > .content {
    font-style: normal;
    font-weight: 400;
    font-family: var(--font-sans);
    font-size: var(--fixed-text-size-4);
    line-height: 1.3;

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    grid-area: a / a / a / a;
}
.blog-text-container ul {
    margin-left: 20px;
}
.blog-text-container > .small-container {
    grid-area: b / b / b / b;

    display: flex;
    flex-direction: column;
}
.blog-text-container > .small-container > small {
    color: var(--color-5);

    font-style: normal;
    font-weight: 400;
    font-family: var(--font-sans);
    font-size: var(--fixed-text-size-1);

    margin-bottom: var(--spacing-1);
}
.blog-text-container > .small-container > small::before {
    content: "*";

    position: relative;
    float: left;

    text-align: right;

    margin-left: -15px;
}

.blog-code-container {
    grid-template-areas: ". . a a a a a a a a . .";
    margin-bottom: var(--spacing-4);
}
.blog-code-container > pre {
    grid-area: a / a / a / a;
}
.hljs {
    font-family: 'Roboto Mono';
    font-size: var(--fixed-text-size-4);

    background-color: var(--color-9) !important;
}

.blog-space-container {
    min-height: 80px;
}

.blog-quote-container {
    grid-template-areas: ". . a a a a a a . . . .";
    margin-bottom: var(--spacing-4);
}
.blog-quote-container > blockquote {    
    grid-area: a / a / a / a;

    margin-left: -10px;
    padding: 5px 10px;

    border-left: var(--border-width) solid var(--color-7);
}
.blog-quote-container > blockquote > p {
    font-style: italic;
    font-family: var(--font-sans);
    font-size: var(--fixed-text-size-4);

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.blog-title-container {
    grid-template-areas: ". . a a a a a a . . . .";
    margin-bottom: var(--spacing-1);
}
.blog-title-container > h1, .blog-title-container > h2, .blog-title-container > h3, .blog-title-container > h4, .blog-title-container > h5, .blog-title-container > h6 {
    grid-area: a / a / a / a;

    font-weight: 900;
}

.blog-image-container {
    grid-template-areas: ". a a a a a a a a a a .";
    margin-bottom: var(--spacing-4);
}
.blog-image-container.accent {
    background-color: var(--color-9);

    margin-left: -40px;
    margin-right: -40px;

    padding: 60px 0;
}
.blog-image-container.centered {
    grid-template-areas: ". . a a a a a a . . . .";
}
.blog-image-container.outline img {
    border: 2px solid var(--color-9);
}
.blog-image-container.fullscreen {
    grid-template-areas: "a a a a a a a a a a a a";
}
.blog-2images-container {
    grid-template-areas: "a a a a a a b b b b b b";
    margin-bottom: var(--spacing-4);
}
.blog-3images-container {
    grid-template-areas: "a a a a b b b b c c c c";
    margin-bottom: var(--spacing-4);
}
.blog-4images-container {
    grid-template-areas: "a a a b b b c c c d d d";
    margin-bottom: var(--spacing-4);
}
.blog-image-container > .img-container, .blog-2images-container > .img-container, .blog-3images-container > .img-container, .blog-4images-container > .img-container,
.blog-image-container > .img-container-1, .blog-2images-container > .img-container-1, .blog-3images-container > .img-container-1, .blog-4images-container > .img-container-1 {
    grid-area: a / a / a / a;
}
.blog-2images-container > .img-container-2, .blog-3images-container > .img-container-2, .blog-4images-container > .img-container-2 {
    grid-area: b / b / b / b;
}
.blog-3images-container > .img-container-3, .blog-4images-container > .img-container-3 {
    grid-area: c / c / c / c;
}
.blog-4images-container > .img-container-4 {
    grid-area: d / d / d / d;
}

.img-container {
    grid-area: a / a / a / a;

    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img-container > img {
    margin-bottom: -5px;
    width: 100%;

    border-radius: 25px;
}
.img-container > figcaption {
    margin-top: var(--spacing-0);
}

.blog-cta-container {
    grid-template-areas: ". . a a a a a a . . . ." ". . b b b b b b . . . .";

    padding: 2rem calc(.0333333 * 100vw * 2);
    margin: 0 calc(.0333333 * 100vw * -1);

    background-color: var(--color-9);
    color: var(--color-1);
}
.blog-cta-container > p {
    font-style: normal;
    font-weight: 500;
    font-family: var(--font-sans);
    font-size: var(--fixed-text-size-6);

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    margin-bottom: var(--spacing-2);
}
.blog-cta-container > p, .blog-cta-container > .content {
    grid-area: a / a / a / a;
}
.blog-cta-container > a {
    grid-area: b / b / b / b;
}

@media screen and (max-width: 1680px) {
    .blog-text-container {
        grid-template-areas: ". . a a a a a a . b b b";
    }
    .blog-code-container {
        grid-template-areas: ". . a a a a a a a a . .";
    }
    .blog-title-container, .blog-quote-container {
        grid-template-areas: ". . a a a a a a . . . .";
    }
    .blog-cta-container {
        grid-template-areas: ". . a a a a a a . . . ." ". . b b b b b b . . . .";
    }
}
@media screen and (max-width: 1024px) {
    .blog-text-container, .blog-code-container {
        grid-template-areas: ". a a a a a a a a a . ." ". b b b b b b b b b . .";
    }
    .blog-title-container, .blog-quote-container {
        grid-template-areas: ". a a a a a a a a a . .";
    }
    .blog-cta-container {
        grid-template-areas: ". a a a a a a a a a . ." ". b b b b b b b b b . .";
    }
}
@media screen and (max-width: 768px) {
    .blog-text-container, .blog-code-container, .blog-title-container, .blog-quote-container {
        grid-template-areas: "a a a a a a a a a a a a" "b b b b b b b b b b b b";
    }
    .blog-text-container > .small-container {
        margin-top: var(--spacing-3);
        margin-bottom: var(--spacing-3);
    }
    .blog-cta-container {
        grid-template-areas: "a a a a a a a a a a a a" "b b b b b b b b b b b b";
    }

    .blog-image-container.accent {
        margin-left: -20px;
        margin-right: -20px;
    }
    .blog-2images-container {
        grid-template-areas: "a a a a a a" "b b b b b b";
    }
    .blog-3images-container {
        grid-template-areas: "a a a a a a" "b b b b b b" "c c c c c c";
    }
    .blog-4images-container {
        grid-template-areas: "a a a a a a" "b b b b b b" "c c c c c c" "d d d d d d";
    }
}

/*
| ----- NAVBAR
*/
nav {
    height: 1.6rem;
    width: 100%;

    z-index: 100;

    display: flex;
    align-items: center;

    overflow: hidden;
}
nav a {
    font-size: var(--fixed-text-size-2);
}
nav .item {
    margin-left: var(--spacing-4);
}

nav.fixed {
    position: fixed;
    top: 0;
}
nav.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav.nav-auto {
    height: auto;
}
nav.nav-sm {
    height: 1.6rem;
}
nav.nav-md {
    height: 2.2rem;
}
nav.nav-lg {
    height: 2.8rem;
}

/*
| ----- SIDEBAR
*/
.sidebar {
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    width: 300px;
    padding: 1.6rem 1rem;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    color: var(--color-1);
    background-color: var(--bg-color);
    border: var(--border-width) solid var(--color-7);

    transition: .4s ease;
}
.sidebar.collapsed {
    -webkit-transform: translateX(100%);
	transform: translateX(100%);

	transition: transform 300ms linear;
	will-change: transform;
}

.sidebar .item {
    font-size: var(--fixed-text-size-4);
    margin-bottom: var(--spacing-2);
}
/*
| ----- FORM
*/
form {
    display: flex;
    flex-direction: column;

    background: var(--bg-color);
}
label {
    margin-bottom: var(--spacing-0);

    color: var(--color-5);
    font-size: var(--fixed-text-size-1);
}
textarea {
    resize: vertical;
}
.field {
    padding: var(--spacing-0);
    font-family: var(--font-sans);

    border-radius: var(--border-radius);
}
[light] .field {
    color: var(--color-1);
    background-color: var(--bg-color) !important;
    border: var(--border-width) solid var(--color-5);

    font-size: var(--fixed-text-size-2);
}
[light] .field:hover, [light] .field:focus {
    outline: none;
    border: var(--border-width) solid var(--color-1);
}
[light] .field:-webkit-autofill,
[light] .field:-webkit-autofill:hover, 
[light] .field:-webkit-autofill:focus, 
[light] .field:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px var(--bg-color) inset !important;
}

[dark] .field {
    color: var(--color-1);
    background-color: var(--color-9) !important;
    border: var(--border-width) solid var(--color-9);

    font-size: var(--fixed-text-size-2);
}
[dark] .field:hover, [dark] .field:focus {
    outline: none;
    border: var(--border-width) solid var(--color-5);
}
[dark] .field:-webkit-autofill,
[dark] .field:-webkit-autofill:hover, 
[dark] .field:-webkit-autofill:focus, 
[dark] .field:-webkit-autofill:active  {
    -webkit-text-fill-color: var(--color-1);
    -webkit-box-shadow: 0 0 0 30px var(--color-9) inset !important;
    font-size: var(--fixed-text-size-2);
}

.field.field-sm {
    padding: 5px 10px;
    font-size: var(--fixed-text-size-2);
}
.field.field-md {
    padding: 10px 15px;
    font-size: var(--fixed-text-size-4);
}
.field.field-lg {
    padding: 15px 20px;
    font-size: var(--fixed-text-size-5);
}

/*
| ----- FLOAT
*/
.base-layer {
    z-index: 0;
}
.top-layer {
    z-index: 100;
}

.float-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.float-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.float-top-left {
    position: fixed;
    top: 0;
    left: 0;
}
body > .float-top-left {
    position: fixed;
    top: 3.6vw;
    left: 3.6vw;
}

.float-top-right {
    position: fixed;
    top: 0;
    right: 0;
}
body > .float-top-right {
    position: fixed;
    top: 3.6vw;
    right: 3.6vw;
}

.float-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
}
body > .float-bottom-left {
    position: fixed;
    bottom: 3.6vw;
    left: 3.6vw;
}

.float-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
}
body > .float-bottom-right {
    position: fixed;
    bottom: 3.6vw;
    right: 3.6vw;
}

/*
| ----- HEADER
*/
header.bottom-style {
    padding-bottom: 8vh;

    font-size: var(--fluid-title-size);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

/*
| ----- FOOTER
*/
footer {
    height: min-content;
    padding-top: var(--spacing-7) !important;
    padding-bottom: var(--spacing-3);

    transform: translateZ(0);
}
footer.with-bottom-spacing {
    padding-bottom: var(--spacing-7) !important;
}
footer .footer-column {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.4rem;
}
footer .footer-category {
    font-size: var(--fixed-text-size-2);

    width: 100%;

    padding-bottom: var(--spacing-1);
    margin-bottom: var(--spacing-1);
}
footer .footer-link {
    font-size: var(--fixed-text-size-2);
    
    margin-bottom: var(--spacing-0);

    color: var(--color-5);

    word-break: break-all;
}
footer .footer-link:hover {
    color: var(--color-1);
}

/*
| ----- CONTAINERS
*/
.half-container {
    width: 100vw;
    max-width: 100vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}
.half-container .half-part-container {
    min-width: 100vw;
    max-width: 100vw;
    min-height: 25vh;

    padding-left: var(--spacing-4);
    padding-right: var(--spacing-4);
}
@media screen and (min-width: 768px) {
    .half-container {
        height: 100vh;
        max-height: 100vh;

        flex-direction: row;
    }
    .half-part-container {
        height: 100vh !important;
        min-width: 50vw !important;
        max-width: 50vw !important;
    }
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.centered-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding-left: var(--spacing-5);
}

/*
| ----- TEXT
*/
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

i {
    font-style: italic;
}

.title {
    font-weight: var(--title-font-weight);
    font-family: var(--font-title);
}
.title-fit {
    font-weight: var(--title-font-weight);
    font-family: var(--font-title);
    font-size: var(--fluid-text-size-9);

    margin-bottom: var(--spacing-1);

    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    word-break: break-word;
    word-wrap: break-word;
}
h1 {
    font-size: var(--fixed-text-size-8);
    font-weight: var(--title-font-weight);
    font-family: var(--font-title);
}
h2 {
    font-size: var(--fixed-text-size-7);
    font-weight: var(--title-font-weight);
    font-family: var(--font-title);
}
h3 {
    font-size: var(--fixed-text-size-6);
    font-weight: var(--title-font-weight);
    font-family: var(--font-title);
}
h4, h5, h6 {
    font-size: var(--fixed-text-size-5);
    font-weight: var(--title-font-weight);
    font-family: var(--font-title);
}

figcaption {
    color: var(--color-5);
    font-size: var(--fixed-text-size-1);
}

code {
    padding: 2px 4px;

    border-radius: 8px;

    font-family: 'Roboto Mono';
    color: var(--color-4);
    background-color: var(--color-9);
}

::selection {
    color: var(--bg-color);
    background: var(--color-1);
}
::-moz-selection {
    color: var(--bg-color);
    background: var(--color-1);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
| ----- TEXT FONT
*/
.font-title {
    font-family: var(--font-title);
}
.font-text {
    font-family: var(--font-text);
}
.font-sans {
    font-family: var(--font-sans);
}
.font-serif {
    font-family: var(--font-serif);
}

.font-weight-normal {
    font-weight: normal;
}
.font-weight-bold {
    font-weight: bold;
}

/*
| ----- TEXT SIZE
*/
.text-fixed-1 {
    font-size: var(--fixed-text-size-1);
}
.text-fixed-2 {
    font-size: var(--fixed-text-size-2);
}
.text-fixed-3 {
    font-size: var(--fixed-text-size-3);
}
.text-fixed-4 {
    font-size: var(--fixed-text-size-4);
}
.text-fixed-5 {
    font-size: var(--fixed-text-size-5);
}
.text-fixed-6 {
    font-size: var(--fixed-text-size-6);
}
.text-fixed-7 {
    font-size: var(--fixed-text-size-7);
}
.text-fixed-8 {
    font-size: var(--fixed-text-size-8);
}
.text-fixed-9 {
    font-size: var(--fixed-text-size-9);
}

.text-fluid-1 {
    font-size: var(--fluid-text-size-1);
}
.text-fluid-2 {
    font-size: var(--fluid-text-size-2);
}
.text-fluid-3 {
    font-size: var(--fluid-text-size-3);
}
.text-fluid-4 {
    font-size: var(--fluid-text-size-4);
}
.text-fluid-5 {
    font-size: var(--fluid-text-size-5);
}
.text-fluid-6 {
    font-size: var(--fluid-text-size-6);
}
.text-fluid-7 {
    font-size: var(--fluid-text-size-7);
}
.text-fluid-8 {
    font-size: var(--fluid-text-size-8);
}
.text-fluid-9 {
    font-size: var(--fluid-text-size-9);
}

/*
| ----- SPACING
*/
.m-none {
    margin: 0 !important;
}
.m-0 {
    margin: var(--spacing-0) !important;
}
.m-1 {
    margin: var(--spacing-1) !important;
}
.m-2 {
    margin: var(--spacing-2) !important;
}
.m-3 {
    margin: var(--spacing-3) !important;
}
.m-4 {
    margin: var(--spacing-4) !important;
}
.m-5 {
    margin: var(--spacing-5) !important;
}
.m-auto {
    margin: auto !important;
}
.mr-none {
    margin-right: 0 !important;
}
.mr-0 {
    margin-right: var(--spacing-0) !important;
}
.mr-1 {
    margin-right: var(--spacing-1) !important;
}
.mr-2 {
    margin-right: var(--spacing-2) !important;
}
.mr-3 {
    margin-right: var(--spacing-3) !important;
}
.mr-4 {
    margin-right: var(--spacing-4) !important;
}
.mr-5 {
    margin-right: var(--spacing-5) !important;
}
.mr-auto {
    margin-right: auto !important;
}
.ml-none {
    margin-left: 0 !important;
}
.ml-0 {
    margin-left: var(--spacing-0) !important;
}
.ml-1 {
    margin-left: var(--spacing-1) !important;
}
.ml-2 {
    margin-left: var(--spacing-2) !important;
}
.ml-3 {
    margin-left: var(--spacing-3) !important;
}
.ml-4 {
    margin-left: var(--spacing-4) !important;
}
.ml-5 {
    margin-left: var(--spacing-5) !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mt-none {
    margin-top: 0 !important;
}
.mt-0 {
    margin-top: var(--spacing-0) !important;
}
.mt-1 {
    margin-top: var(--spacing-1) !important;
}
.mt-2 {
    margin-top: var(--spacing-2) !important;
}
.mt-3 {
    margin-top: var(--spacing-3) !important;
}
.mt-4 {
    margin-top: var(--spacing-4) !important;
}
.mt-5 {
    margin-top: var(--spacing-5) !important;
}
.mt-auto {
    margin-top: auto !important;
}
.mb-none {
    margin-bottom: 0 !important;
}
.mb-0 {
    margin-bottom: var(--spacing-0) !important;
}
.mb-1 {
    margin-bottom: var(--spacing-1) !important;
}
.mb-2 {
    margin-bottom: var(--spacing-2) !important;
}
.mb-3 {
    margin-bottom: var(--spacing-3) !important;
}
.mb-4 {
    margin-bottom: var(--spacing-4) !important;
}
.mb-5 {
    margin-bottom: var(--spacing-5) !important;
}
.mb-auto {
    margin-bottom: auto !important;
}

.p-none {
    padding: 0 !important;
}
.p-0 {
    padding: var(--spacing-0) !important;
}
.p-1 {
    padding: var(--spacing-1) !important;
}
.p-2 {
    padding: var(--spacing-2) !important;
}
.p-3 {
    padding: var(--spacing-3) !important;
}
.p-4 {
    padding: var(--spacing-4) !important;
}
.p-5 {
    padding: var(--spacing-5) !important;
}
.p-auto {
    padding: auto !important;
}
.pr-none {
    padding-right: 0 !important;
}
.pr-0 {
    padding-right: var(--spacing-0) !important;
}
.pr-1 {
    padding-right: var(--spacing-1) !important;
}
.pr-2 {
    padding-right: var(--spacing-2) !important;
}
.pr-3 {
    padding-right: var(--spacing-3) !important;
}
.pr-4 {
    padding-right: var(--spacing-4) !important;
}
.pr-5 {
    padding-right: var(--spacing-5) !important;
}
.pr-auto {
    padding-right: auto !important;
}
.pl-none {
    padding-left: 0 !important;
}
.pl-0 {
    padding-left: var(--spacing-0) !important;
}
.pl-1 {
    padding-left: var(--spacing-1) !important;
}
.pl-2 {
    padding-left: var(--spacing-2) !important;
}
.pl-3 {
    padding-left: var(--spacing-3) !important;
}
.pl-4 {
    padding-left: var(--spacing-4) !important;
}
.pl-5 {
    padding-left: var(--spacing-5) !important;
}
.pl-auto {
    padding-left: auto !important;
}
.pt-none, .py-none {
    padding-top: 0 !important;
}
.pt-0, .py-0 {
    padding-top: var(--spacing-0) !important;
}
.pt-1, .py-1 {
    padding-top: var(--spacing-1) !important;
}
.pt-2, .py-2 {
    padding-top: var(--spacing-2) !important;
}
.pt-3, .py-3 {
    padding-top: var(--spacing-3) !important;
}
.pt-4, .py-4 {
    padding-top: var(--spacing-4) !important;
}
.pt-5, .py-5 {
    padding-top: var(--spacing-5) !important;
}
.pt-auto, .py-auto {
    padding-top: auto !important;
}
.pb-none, .py-none {
    padding-bottom: 0 !important;
}
.pb-0, .py-0 {
    padding-bottom: var(--spacing-0) !important;
}
.pb-1, .py-1 {
    padding-bottom: var(--spacing-1) !important;
}
.pb-2, .py-2 {
    padding-bottom: var(--spacing-2) !important;
}
.pb-3, .py-3 {
    padding-bottom: var(--spacing-3) !important;
}
.pb-4, .py-4 {
    padding-bottom: var(--spacing-4) !important;
}
.pb-5, .py-5 {
    padding-bottom: var(--spacing-5) !important;
}
.pb-6, .py-6 {
    padding-bottom: var(--spacing-6) !important;
}
.pb-7, .py-7 {
    padding-bottom: var(--spacing-7) !important;
}
.pb-8, .py-8 {
    padding-bottom: var(--spacing-8) !important;
}
.pb-9, .py-9 {
    padding-bottom: var(--spacing-9) !important;
}
.pb-auto, .py-auto {
    padding-bottom: auto !important;
}

/*
| ----- WIDTH, HEIGHT
*/
.w-auto {
    width: auto;
}
.w-full {
    width: 100%;
}
.h-auto {
    height: auto;
}
.h-full {
    height: 100%;
}
/*
| ----- FLEX
*/
.flex-row {
    flex-direction: row;
}
.flex-column, .flex-col {
    flex-direction: column;
}
/*
| ----- TEXT COLOR
*/
.color-1 {
    color: var(--color-1);
}
a.color-1:hover {
    color: var(--color-4);
}
.color-2 {
    color: var(--color-2);
}
a.color-2:hover {
    color: var(--color-5);
}
.color-3 {
    color: var(--color-3);
}
a.color-3:hover {
    color: var(--color-6);
}
.color-4 {
    color: var(--color-4);
}
a.color-4:hover {
    color: var(--color-7);
}
.color-5 {
    color: var(--color-5);
}
.color-6 {
    color: var(--color-6);
}
.color-7 {
    color: var(--color-7);
}
.color-8 {
    color: var(--color-8);
}
.color-9 {
    color: var(--color-9);
}
a.color-5:hover, a.color-6:hover, a.color-7:hover, a.color-8:hover, a.color-9:hover {
    color: var(--color-1);
}

.color-base {
    color: var(--bg-color);
}

.color-contrast {
    color: white;
    mix-blend-mode: difference;
}

.color-transparent {
    color: transparent;
}
.color-black {
    color: black;
}
.color-white {
    color: white;
}

.color-accent {
    color: var(--accent-color);
}

/*
| ----- BACKGROUND COLOR
*/
.bg-1 {
    background-color: var(--color-1);
}
.bg-2 {
    background-color: var(--color-2);
}
.bg-3 {
    background-color: var(--color-3);
}
.bg-4 {
    background-color: var(--color-4);
}
.bg-5 {
    background-color: var(--color-5);
}
.bg-6 {
    background-color: var(--color-6);
}
.bg-7 {
    background-color: var(--color-7);
}
.bg-8 {
    background-color: var(--color-8);
}
.bg-9 {
    background-color: var(--color-9);
}

.bg-base {
    background-color: var(--bg-color);
}

.bg-contrast {
    background-color: white;
    mix-blend-mode: difference;
}

.bg-transparent {
    background-color: transparent;
}
.bg-black {
    background-color: black;
}
.bg-white {
    background-color: white;
}

.bg-accent {
    background-color: var(--accent-color);
}

/*
| ----- BORDER
*/
.border-none {
    border: none;
}
.border-bottom {
    border-bottom: var(--border-width) solid var(--border-color);
}
.border-top {
    border-top: var(--border-width) solid var(--border-color);
}
.border-left {
    border-left: var(--border-width) solid var(--border-color);
}
.border-right {
    border-right: var(--border-width) solid var(--border-color);
}
.border-all {
    border: var(--border-width) solid var(--border-color);
}
a.border-all:hover {
    border: var(--border-width) solid var(--color-1);
}

.border-base {
    border: var(--border-width) solid var(--bg-color);
}

.border-contrast {
    border: var(--border-width) solid white;
    mix-blend-mode: difference;
}

.border-transparent {
    border: var(--border-width) solid transparent;
}
.border-black {
    border: var(--border-width) solid black;
}
.border-white {
    border: var(--border-width) solid white;
}

.border-color-1 {
    border: var(--border-width) solid var(--color-1);
}
.border-color-2 {
    border: var(--border-width) solid var(--color-2);
}
.border-color-3 {
    border: var(--border-width) solid var(--color-3);
}
.border-color-4 {
    border: var(--border-width) solid var(--color-4);
}
.border-color-5 {
    border: var(--border-width) solid var(--color-5);
}
.border-color-6 {
    border: var(--border-width) solid var(--color-6);
}
.border-color-7 {
    border: var(--border-width) solid var(--color-7);
}
.border-color-8 {
    border: var(--border-width) solid var(--color-8);
}
.border-color-9 {
    border: var(--border-width) solid var(--color-9);
}

.border-accent {
    border: var(--border-width) solid var(--accent-color);
}

/*
| ----- TRANSITION
*/
a,button,input,textarea,select,.smooth {
    transition: .4s ease;
}

/*
| ----- SPLIT COMPONENT
*/
hr {
    width: 100%;
    margin: 10px 0;

    border-width: 1px;
    border-color: var(--border-color);
}

/*
| ----- LINK COMPONENT
*/
a {
    text-decoration: none;
}

/* Underline Variant */
.link-1, .link-underline {
    border-bottom: var(--border-width) solid var(--color-7);
}
.link-1:hover, .link-underline:hover {
    border-bottom: var(--border-width) solid var(--color-1);
}
/* Basic Variant */
.link-2, .link-basic {
    color: var(--color-1);
    border-bottom: none;
}
.link-2:hover, .link-basic:hover {
    color: var(--color-4);
}
/* Static Variant */
.link-3, .link-static {
    color: var(--color-1);
    border-bottom: none;
}
/* Icon Variant */
.link-icon {
    color: var(--color-1);
    border-bottom: none;

    display: flex;
}
.link-icon:hover {
    color: var(--color-4);
}

/*
| ----- BUTTON COMPONENT
*/
.btn {
    border: none;
    outline: none;
    cursor: pointer;

    width: max-content;

    border-radius: var(--border-radius);
}

.btn-sm {
    padding: 10px 20px;
    font-size: var(--fixed-text-size-2);
}
.btn-md {
    padding: 15px 30px;
    font-size: var(--fixed-text-size-3);
}
.btn-lg {
    padding: 20px 40px;
    font-size: var(--fixed-text-size-4);
}

.btn-accent {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.btn-basic {
    border: var(--border-width) solid var(--color-7);
    color: var(--color-1);
    background-color: transparent;
}
.btn-basic:hover {
    border: var(--border-width) solid var(--color-1);
    color: var(--bg-color);
    background-color: var(--color-1);
}

.btn-light {
    color: var(--bg-color);
    background-color: var(--color-1);
}
.btn-light:hover {
    background-color: var(--color-3);
}

.btn-dark {
    color: var(--color-1);
    background-color: var(--color-9);
}
.btn-dark:hover {
    background-color: var(--color-8);
}

[light] .btn-outline {
    border: var(--border-width) solid var(--color-1);
    color: var(--color-1);
    background-color: transparent;
}
[light] .btn-outline:hover {
    color: var(--bg-color);
    background-color: var(--color-1);
}
[dark] .btn-outline {
    border: var(--border-width) solid var(--color-7);
    color: var(--color-1);
    background-color: transparent;
}
[dark] .btn-outline:hover {
    border: var(--border-width) solid var(--color-1);
    color: var(--bg-color);
    background-color: var(--color-1);
}

.btn-contrast {
    background-color: white;
    color: black;
    mix-blend-mode: difference;
}
/*
| ----- FIELD COMPONENT
*/
input,textarea,select {
    background-color: var(--color-9);
    color: var(--color-1);
}
input:hover, input:focus,
textarea:hover, textarea:focus
select:hover, select:focus {
    border: var(--border-width) solid var(--color-6);
}

.custom-select {
    -webkit-appearance: none;
    appearance: none;
}

/*
| ----- CARD COMPONENT
*/
.card {
    margin-bottom: var(--spacing-3);

    display: block;

    font-size: var(--fixed-text-size-2);

    border-radius: var(--border-radius);
}

.card-basic:hover .card-image {
    -webkit-filter: brightness(90%);
	-moz-filter: brightness(90%);
	-o-filter: brightness(90%);
	-ms-filter: brightness(90%);
	filter: brightness(90%);
}
.card-basic:hover .card-text {
    color: var(--color-1);
}
.card-basic:hover .card-text-small {
    color: var(--color-5);
}

.card-dark {
    padding: var(--spacing-2) var(--spacing-3);
    background-color: var(--color-1);
}
.card-dark .card-title, .card-dark .card-text, .card-dark .card-icon {
    color: var(--bg-color);
}
.card-dark .card-text-small {
    color: var(--color-7);
}

.card-dark:hover  {
    background-color: var(--color-2);
}

.card-image {
    width: 100%;
    object-fit: cover;
}
.card-title {
    font-size: var(--fixed-text-size-3);
    color: var(--color-1);

    margin: var(--spacing-0) 0;
}
.card-text {
    color: var(--color-5);
}
.card-text-small {
    color: var(--color-7);
}
.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: var(--fixed-text-size-5);
}

/*
| ----- OTHER COMPONENTS
*/
.vr {
    height: 100%;
    width: 1px;
    background-color: var(--color-5);
}

img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
| ----- ANIMATION
*/
.fade-in {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}
.fade-out {
    -webkit-animation: fadeout 1s;
    -moz-animation: fadeout 1s;
    -ms-animation: fadeout 1s;
    -o-animation: fadeout 1s;
    animation: fadeout 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-o-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}